<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/basic.css">
    <link rel="stylesheet" href="../CSS/index-style.css">
</head>
<body>
    <div class="main">
        <div class="topbar clearfix">
            <div class="title">Pick a movie:</div>
            <div class="price">Avengers:Endgame ($10)</div>
        </div>
        <div class="select">
            <ul>
                <li class="clearfix">
                    <div  class="im fir"></div>
                    <span>N/A</span>
                </li>
                <li>
                    <div  class="im sec"></div>
                    <span>Selected</span>
                </li>
                <li>
                    <div  class="im third"></div>
                    <span>Occupied</span>
                </li>
            </ul>
        </div>
        <div class="bg">
        </div>
        <div class="seat">
            <ul class="left">
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
            </ul>
            <ul class="mid">
                
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
            </ul>
            <ul class="right">
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
                <li class="im"><a href="#"></a></li>
            </ul>
        </div>
    </div>
</body>
</html>